.hero-container{
    width: 100%;
    /* display: flex; */
    display: flex;
    flex-direction: row wrap;

    /* object-fit: cover; */
    top:300px;
    
    background-color: #85BBE1;
    max-height: 400px;
}
.hero-container-link
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: 0 0 0 0 ;

justify-content: center;
}
.hero-container-img{
    width: 30%;
    display: flex;
    
}
.hero-container-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.hero-container-p{
    text-align: center;
}