.logged-in-navigation__wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #fff 0%, #0a7fd3 100%);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logged-in-navigation__logo {
  width: 8rem;
  height: 5rem;
  display: inline-block;
  background-image: url('../../../assets/icons/imglogo.png');
  background-size: 100% 100%;
  margin: 1rem 0;
}


.logged-in-navigation__links {
	display: flex;
	flex-flow: row wrap;
  padding-left: 1rem;
}

.logged-in-navigation__links a {
	width: 100%;
	padding-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}