.footer-container{

    background-color: #4DB4FE;
}

.footer-links{

    width: 100%;

    max-width: 1000px;
    

}

.footer-link-wrapper{

    display: flex ;

    flex-flow: row wrap;
    

}



.footer-link-items{
    

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    margin: 20px;

    text-align: left;

    width: 160px;

    box-sizing: border-box;

    font-size: 16px;

}

.footer-link-items a {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: black;
    transition: 0.3s ease-out;
  }

.footer-link-items h2{

    margin-bottom: 16px;
    font-size: 30px;

}

.footer-link-items > h2{

    color: black;

    
}
