@media screen and (max-width:768px) {

    .login-bg{
        background-image: url("/src/components/photos/loginimg.png");
        background-repeat: no-repeat;
        
        position: relative;
        max-width: 936px;
        height: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    .login-h1{
        font-size: 7vh;
        padding-left: 5%;
        text-align: left;
        text-decoration: underline;
        margin-top: 0;
        padding-top: 0;
    }
}
@media screen and (min-width:769px) {
.login-bg{
    background-image: url("/src/components/photos/loginimg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    max-width: 936px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}

.login-container{
    width: 100%;
   
    
}

.login-panel
{
    text-align: center;
    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.login-input input{
border-radius: 55px;
height: 55px;
font-size: 1.1rem;
color: #333;
text-align: center;
margin: 10px;
}
.login-input input ::placeholder{
    color: #aaa;
    font-weight: 500;
}
.login-h1{
    font-size: 7vh;
    padding-left: 5%;
    text-align: left;
    text-decoration: underline;
}
.login-btn{
    width: 100%;
    text-align: center;
}
.login-btn input{
    width: 150px;
  background-color: #3d6666;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.login-btn input:hover{
    background-color: #64a0a0;
}
.login-container i {
    font-weight: 600;
    color: black;
    font-size: 25px;
}
