.specialization-container {
    font-family: sans-serif;
    text-align: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #DDF0FF;
    border-radius: 45px;
  }
  .grid {
    /* margin: 80px; */
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
  }
  .grid > article {
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
    background-color: #bde3ff;
    margin-left: auto;
    margin-right: auto;
  }
  .grid > article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
  }
  .grid > article img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .article {
    margin-left: auto;
    margin-right: auto;
  }
  .specialization-info {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
  }
  .specialization-info h2 {
    text-align: left;
    font-size: 7vw;
  }
  .grid-container{
      margin-bottom: 5%;
  }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 554px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  