.card-container{
    background-color: wjite;
    
}
.card-links{
    width: 100%;
    max-width: 1200px;

}
.card-link-wrapper{
    display: flex ;
    flex-flow: row wrap;
    
}
.card-link-items{
    
    background-color: #0796FD;
    display: flex;

    flex-direction: column;

    margin: 20px;

    text-align: center;

    width: 300px;
    height: 200px;

    box-sizing: border-box;

    font-size: 16px;
    border-radius: 40px 40px 40px 40px;
    
    

}
.card-container-h{
    text-align: center;
    font-size: 3vw;
    
}
.card-container-p{
    text-align: center;
    font-size: 2vw;
}

i{
    font-size: 4vw;
    color: white;
}