@media only screen and (max-width: 1023px) {
    .offert-container {
      font-family: sans-serif;
      max-width: 1440px;
      background: rgba(50, 168, 253, 0.1);
      border-radius: 5px;
      margin: auto;
      min-height: 50vh;
      font-size: 2vw;
      text-align: center;
    }
    .main-row {
      height: 20%;
      width: 100%;
      background: #68baf5;
      border-radius: 10px;
      margin-bottom: 0.5%;
    }
    .toggle {
      font-size: 3vw;
  
      background: none;
      border: none;
      margin: 0, 0, 0, 0;
      padding: 0, 0, 0, 0;
    }
    .doctor-name {
      text-align: left;
      font-size: 3vw;
      float: left;
      width: 94%;
    }
    .doctor-button {
      text-align: right;
      width: 2%;
      display: flex;
    }
    .collapsible {
      padding-left: 2%;
      text-align: left;
    }
    .offerts {
      text-align: left;
      padding-top: 1%;
      padding-left: 1%;
      font-weight: 700;
    }
    .offert-info {
      margin-bottom: 7%;
    }
  }
  
  /* FOR DESKTOPTS LAPTOP ETC... */
  
  @media only screen and (min-width: 1024px) {
    .offert-container {
      font-family: sans-serif;
      max-width: 1440px;
      background: rgba(50, 168, 253, 0.1);
      border-radius: 45px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vh;
      margin-bottom: 5vh;

      min-height: 50vh;
      font-size: 2vw;
      text-align: center;
    }
    .main-row {
      height: 20%;
      width: 100%;
      background: #68baf5;
      border-radius: 30px;
      margin-bottom: 0.5%;
    }
    .toggle {
      font-size: 3vw;
  
      background: none;
      border: none;
      margin: 0, 0, 0, 0;
      padding: 0, 0, 0, 0;
    }
    .doctor-name {
      text-align: left;
      font-size: 3vw;
      float: left;
      width: 94%;
    }
    .doctor-button {
      text-align: right;
      width: 2%;
      display: flex;
    }
    .collapsible {
      padding-left: 2%;
      text-align: left;
    }
    .offerts {
      text-align: left;
      padding-top: 1%;
      padding-left: 1%;
      font-weight: 700;
    }
    .offert-info {
      margin-bottom: 7%;
    }
  }
  