.contactCard{
max-height: 500px;
    height: 600px;
    width: 100%;
top: 282px;
display: flex;

}
.firstRect {
    margin:3% 30% 50%;
    height: 400px;
    width: 40%;
    background: rgba(50, 168, 253, 0.1); 
    border-radius: 45px;
}
.secoudRect{
    margin:1% 3% 1% 3%;
    height: 400px;
    width: 100%;
    background:  rgba(77, 180, 254, 0.25);
    border-radius: 45px;
}
.header{
    /* text-align:center; */
    padding: 5%;
    text-decoration: underline;


}
.Name{
    text-align: left;
    text-decoration: underline;
    padding-left: 7%;
}
.addressData {
    text-align: left;
    font-size: 12;
    padding-left: 7%;
}
.photo{
    height: 250px;
    width: 200px;
    float: right;
    clear: right;
    margin-top: -30%;
    padding: 0px 110px 100px 0px;
}